footer {
  width: 95vw;
  display: flex;
  justify-content: center;
  justify-items: center;
  background: lightgoldenrodyellow;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 4px solid lightblue;
  margin: 0 auto;
}

.footer {
  opacity: 0.5;
  width: 3%;
  padding: 0.2rem;
  transform: translateX(0.5rem);
}
